gemma-web/src/main/webapp/WEB-INF/gemma-custom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://chibi.ubc.ca/Gemma/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://chibi.ubc.ca/Gemma/ws">

	<types>
		<xs:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://chibi.ubc.ca/Gemma/ws" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" targetNamespace="http://chibi.ubc.ca/Gemma/ws">
			<xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />

			<xs:complexType name="GeneCoexpressionSearchParams">
				<xs:sequence>
					<xs:element name="query_gene_id" type="xs:integer" />
					<xs:element name="pair_query_gene_id" type="xs:integer" minOccurs="0" maxOccurs="1" />
					<xs:element name="stringency" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GeneCoexpressionSearchResponse">
				<xs:sequence>
					<xs:element name="CoexpressionSearchResult" type="tns:CoexpressionSearchResult" minOccurs="0" maxOccurs="2000" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CoexpressionSearchResult">
				<xs:sequence>
					<xs:element name="found_gene_id" type="xs:string" />
					<xs:element name="num_experiments_tested" type="xs:integer" />
					<xs:element name="num_experiments_coexpressed" type="xs:integer" />
					<xs:element name="gemma_details_url" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfIDs">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="xs:integer[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ArrayOfStrings">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="xs:string[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dedv2gene">
				<xs:sequence>
					<xs:element name="dedv" type="xs:string" />
					<xs:element name="geneIdList" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfDEDV2GeneIDs">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:dedv2gene[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dedv2eegene">
				<xs:sequence>
					<xs:element name="dedv" type="xs:string" />
					<xs:element name="geneIdList" type="xs:string" />
					<xs:element name="eeIdList" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfCoexpressionResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:CoexpressionResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="CoexpressionResult">
				<xs:sequence>
					<xs:element name="query_gene" type="xs:string" />
					<xs:element name="query_id" type="xs:string" />
					<xs:element name="found_gene" type="xs:string" />
					<xs:element name="found_id" type="xs:string" />
					<xs:element name="support" type="xs:string" />
					<xs:element name="sign" type="xs:string" />
					<xs:element name="eeIdList" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfDEDV2EEGeneIDs">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:dedv2eegene[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="geneLocation">
				<xs:sequence>
					<xs:element name="chromId" type="xs:string" />
					<xs:element name="minNT" type="xs:string" />
					<xs:element name="maxNT" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="gene2goID">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="goIdList" type="xs:string" />
				</xs:sequence>
			</xs:complexType>


			<xs:complexType name="gene2GOdescriptionResult">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="go_id" type="xs:string" />
					<xs:element name="go_description" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfgene2GOdescriptionResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:gene2GOdescriptionResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="gene2overlapMap">
				<xs:sequence>
					<xs:element name="gene" type="xs:string" />
					<xs:element name="overlap_GO_terms" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfgene2overlapMap">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:gene2overlapMap[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ee2annotations">
				<xs:sequence>
					<xs:element name="ee_id" type="xs:string" />
					<xs:element name="Category" type="xs:string" />
					<xs:element name="Terms" type="xs:string" />
					<xs:element name="GoEvidenceCode" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfee2annotations">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:ee2annotations[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="probe2AD">
				<xs:sequence>
					<xs:element name="probe_id" type="xs:string" />
					<xs:element name="array_design_identifier" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfprobe2AD">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:probe2AD[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="eeNames">
				<xs:sequence>
					<xs:element name="ee_id" type="xs:string" />
					<xs:element name="ee_short_name" type="xs:string" />
					<xs:element name="ee_name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfeeNames">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:eeNames[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="geneNames">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="gene_official_symbol" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfgeneNames">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:geneNames[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="EESResult">
				<xs:sequence>
					<xs:element name="expression_experiment_set_id" type="xs:string" />
					<xs:element name="ees_name" type="xs:string" />
					<xs:element name="datasets" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfEESResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:EESResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dedvResult">
				<xs:sequence>
					<xs:element name="gene_ids" type="xs:string" />
					<xs:element name="ee_ids" type="xs:string" />
					<xs:element name="ranks" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfDEDVRankResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:dedvResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ncbiResult">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="ncbi_id" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfncbiResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:ncbiResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="geneDetailsResult">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="ncbi_id" type="xs:string" />
					<xs:element name="official_symbol" type="xs:string" />
					<xs:element name="official_name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfGeneDeatilsResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:geneDetailsResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="differentialExpressionResult">
				<xs:sequence>
					<xs:element name="gene_id" type="xs:string" />
					<xs:element name="ee_id" type="xs:string" />
					<xs:element name="probe" type="xs:string" />
					<xs:element name="q_value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOfdifferentialExpressionResult">
				<xs:complexContent>
					<xs:restriction base="soapenc:Array">
						<xs:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:differentialExpressionResult[]" />
					</xs:restriction>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</types>

	<message name="geneNameResponse">
		<part name="gene_name_results" type="tns:ArrayOfgeneNames" />
	</message>
	<message name="experimentIDbyTaxonRequest">
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="geneIDbyTaxonResponse">
		<part name="gene_ids" type="tns:ArrayOfStrings" />
	</message>
	<message name="arrayDesignUsedResponse">
		<part name="arrayDesign_short_names" type="tns:ArrayOfStrings" />
	</message>
	<message name="experimentIDbyTaxonResponse">
		<part name="ee_ids" type="tns:ArrayOfStrings" />
	</message>
	<message name="dEDVfromEEIDGeneIDRequest">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
		<part name="ee_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="gene2GoResponse">
		<part name="gene2goids" type="tns:gene2goID" />
	</message>
	<message name="arrayDesignUsedRequest">
		<part name="ee_id" type="xs:integer" />
	</message>
	<message name="experimentIdRequest">
		<part name="ee_short_name" type="xs:string" />
	</message>
	<message name="experimentNameResponse">
		<part name="eeName" type="tns:ArrayOfeeNames" />
	</message>
	<message name="arrayDesignIdentifierByNameRequest">
		<part name="ad_name" type="xs:string" />
	</message>
	<message name="goTerm2GeneResponse">
		<part name="gene_ids" type="tns:ArrayOfStrings" />
	</message>
	<message name="experimentIdResponse">
		<part name="ee_id" type="xs:string" />
	</message>
	<message name="experimentDEDVRequest">
		<part name="ee_id" type="xs:integer" />
	</message>
	<message name="dEDVfromEEIDGeneIDResponse">
		<part name="dedv2eeGenemap" type="tns:ArrayOfDEDV2EEGeneIDs" />
	</message>
	<message name="experimentDEDVResponse">
		<part name="dedv2GeneMap" type="tns:ArrayOfDEDV2GeneIDs" />
	</message>
	<message name="geneIDbyTaxonRequest">
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="physicalLocationResponse">
		<part name="physical_location" type="tns:geneLocation" />
	</message>
	<message name="genesAtPhysicalLocationResponse">
		<part name="genesAtPhysical_location" type="tns:ArrayOfIDs" />
	</message>
	<message name="experimentNumSamplesResponse">
		<part name="eeNumSample_id" type="xs:string" />
	</message>
	<message name="experimentNameRequest">
		<part name="ee_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="geneIdRequest">
		<part name="gene_official_symbol" type="xs:string" />
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="geneNameRequest">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="experimentNumSamplesRequest">
		<part name="ee_id" type="xs:integer" />
	</message>
	<message name="physicalLocationRequest">
		<part name="gene_id" type="xs:integer" />
	</message>
	<message name="genesAtPhysicalLocationRequest">
		<part name="startNucleotide" type="xs:integer" />
		<part name="endNucleotide" type="xs:integer" />
		<part name="chromosome" type="xs:string" />
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="goTerm2GeneRequest">
		<part name="go_id" type="xs:string" />
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="geneIdResponse">
		<part name="gene_ids" type="tns:ArrayOfStrings" />
	</message>
	<message name="gene2GoRequest">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="arrayDesignIdentifierByNameResponse">
		<part name="arrayDesign_ids" type="tns:ArrayOfStrings" />
	</message>
	<message name="geneOverlapRequest">
		<part name="query_gene_id" type="xs:integer" />
		<part name="gene_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="geneOverlapResponse">
		<part name="gene2overlap" type="tns:ArrayOfgene2overlapMap" />
	</message>
	<message name="geneCoexpressionRequest">
		<part name="expression_experiment_set_id" type="xs:integer" />
		<part name="gene_ids" type="tns:ArrayOfIDs" />
		<part name="taxon_id" type="xs:integer" />
		<part name="stringency" type="xs:integer" />
		<part name="queryGenesOnly" type="xs:boolean" />
		<part name="specificProbesOnly" type="xs:boolean" />
	</message>
	<message name="geneCoexpressionResponse">
		<part name="coexpressed_genes" type="tns:ArrayOfCoexpressionResult" />
	</message>
	<message name="experimentAnnotationRequest">
		<part name="ee_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="experimentAnnotationResponse">
		<part name="annotations" type="tns:ArrayOfee2annotations" />
	</message>
	<message name="probe2GeneRequest">
		<part name="probe_name" type="xs:integer" />
		<part name="array_design_identifier" type="xs:integer" />
	</message>
	<message name="probe2GeneResponse">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="gene2ProbeRequest">
		<part name="gene_official_symbol" type="xs:string" />
		<part name="taxon_id" type="xs:integer" />
	</message>
	<message name="gene2ProbeResponse">
		<part name="probe_arrayDesign_info" type="tns:ArrayOfprobe2AD" />
	</message>
	<message name="expressionExperimentSetIDsRequest">
	</message>
	<message name="expressionExperimentSetIDsResponse">
		<part name="expression_experiment_set_ids" type="tns:ArrayOfEESResult" />
	</message>
	<message name="dEDVRankRequest">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
		<part name="ee_ids" type="tns:ArrayOfIDs" />
		<part name="method" type="xs:string" />
	</message>
	<message name="dEDVRankResponse">
		<part name="dEDVRank_results" type="tns:ArrayOfDEDVRankResult" />
	</message>
	<message name="geneByNCBIIdRequest">
		<part name="ncbi_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="geneByNCBIIdResponse">
		<part name="gene_ncbi_results" type="tns:ArrayOfncbiResult" />
	</message>
	<message name="geneDetailsByGeneIDRequest">
		<part name="gene_ids" type="tns:ArrayOfIDs" />
	</message>
	<message name="geneDetailsByGeneIDResponse">
		<part name="gene_details_results" type="tns:ArrayOfGeneDeatilsResult" />
	</message>
	<message name="differentialExpressionProbeResultRequest">
		<part name="expression_experiment_set_id" type="xs:integer" />
		<part name="gene_ids" type="tns:ArrayOfIDs" />
		<part name="taxon_id" type="xs:integer" />
		<part name="threshold" type="xs:integer" />
	</message>
	<message name="differentialExpressionProbeResultResponse">
		<part name="differentialExpression_results" type="tns:ArrayOfdifferentialExpressionResult" />
	</message>
	<message name="gene2GOdescriptionRequest">
		<part name="gene_id" type="tns:ArrayOfIDs" />
	</message>
	<message name="gene2GOdescriptionResponse">
		<part name="gene2GOdescription_results" type="tns:ArrayOfgene2GOdescriptionResult" />
	</message>

	<message name="geneCoexpressionSearchRequestMsg">
		<part name="geneCoexpressionSearchRequest" type="tns:GeneCoexpressionSearchParams" />
	</message>

	<message name="geneCoexpressionSearchResponseMsg">
		<part name="geneCoexpressionSearchResponse" type="tns:GeneCoexpressionSearchResponse" />
	</message>

	<portType name="gemma">
		<operation name="experimentIDbyTaxon">
			<input message="tns:experimentIDbyTaxonRequest" name="experimentIDbyTaxonRequest" />
			<output message="tns:experimentIDbyTaxonResponse" name="experimentIDbyTaxonResponse" />
		</operation>
		<operation name="dEDVfromEEIDGeneID">
			<input message="tns:dEDVfromEEIDGeneIDRequest" name="dEDVfromEEIDGeneIDRequest" />
			<output message="tns:dEDVfromEEIDGeneIDResponse" name="dEDVfromEEIDGeneIDResponse" />
		</operation>
		<operation name="arrayDesignUsed">
			<input message="tns:arrayDesignUsedRequest" name="arrayDesignUsedRequest" />
			<output message="tns:arrayDesignUsedResponse" name="arrayDesignUsedResponse" />
		</operation>
		<operation name="experimentId">
			<input message="tns:experimentIdRequest" name="experimentIdRequest" />
			<output message="tns:experimentIdResponse" name="experimentIdResponse" />
		</operation>
		<operation name="arrayDesignIdentifierByName">
			<input message="tns:arrayDesignIdentifierByNameRequest" name="arrayDesignIdentifierByNameRequest" />
			<output message="tns:arrayDesignIdentifierByNameResponse" name="arrayDesignIdentifierByNameResponse" />
		</operation>
		<operation name="experimentDEDV">
			<input message="tns:experimentDEDVRequest" name="experimentDEDVRequest" />
			<output message="tns:experimentDEDVResponse" name="experimentDEDVResponse" />
		</operation>
		<operation name="geneIDbyTaxon">
			<input message="tns:geneIDbyTaxonRequest" name="geneIDbyTaxonRequest" />
			<output message="tns:geneIDbyTaxonResponse" name="geneIDbyTaxonResponse" />
		</operation>
		<operation name="experimentName">
			<input message="tns:experimentNameRequest" name="experimentNameRequest" />
			<output message="tns:experimentNameResponse" name="experimentNameResponse" />
		</operation>
		<operation name="geneId">
			<input message="tns:geneIdRequest" name="geneIdRequest" />
			<output message="tns:geneIdResponse" name="geneIdResponse" />
		</operation>
		<operation name="geneName">
			<input message="tns:geneNameRequest" name="geneNameRequest" />
			<output message="tns:geneNameResponse" name="geneNameResponse" />
		</operation>
		<operation name="experimentNumSamples">
			<input message="tns:experimentNumSamplesRequest" name="experimentNumSamplesRequest" />
			<output message="tns:experimentNumSamplesResponse" name="experimentNumSamplesResponse" />
		</operation>
		<operation name="physicalLocation">
			<input message="tns:physicalLocationRequest" name="physicalLocationRequest" />
			<output message="tns:physicalLocationResponse" name="physicalLocationResponse" />
		</operation>
		<operation name="genesAtPhysicalLocation">
			<input message="tns:genesAtPhysicalLocationRequest" name="genesAtPhysicalLocationRequest" />
			<output message="tns:genesAtPhysicalLocationResponse" name="genesAtPhysicalLocationResponse" />
		</operation>
		<operation name="goTerm2Gene">
			<input message="tns:goTerm2GeneRequest" name="goTerm2GeneRequest" />
			<output message="tns:goTerm2GeneResponse" name="goTerm2GeneResponse" />
		</operation>
		<operation name="gene2Go">
			<input message="tns:gene2GoRequest" name="gene2GoRequest" />
			<output message="tns:gene2GoResponse" name="gene2GoResponse" />
		</operation>
		<operation name="geneOverlap">
			<input message="tns:geneOverlapRequest" name="geneOverlapRequest" />
			<output message="tns:geneOverlapResponse" name="geneOverlapResponse" />
		</operation>
		<operation name="geneCoexpression">
			<input message="tns:geneCoexpressionRequest" name="geneCoexpressionRequest" />
			<output message="tns:geneCoexpressionResponse" name="geneCoexpressionResponse" />
		</operation>
		<operation name="experimentAnnotation">
			<input message="tns:experimentAnnotationRequest" name="experimentAnnotationRequest" />
			<output message="tns:experimentAnnotationResponse" name="experimentAnnotationResponse" />
		</operation>
		<operation name="probe2Gene">
			<input message="tns:probe2GeneRequest" name="probe2GeneRequest" />
			<output message="tns:probe2GeneResponse" name="probe2GeneResponse" />
		</operation>
		<operation name="gene2Probe">
			<input message="tns:gene2ProbeRequest" name="gene2ProbeRequest" />
			<output message="tns:gene2ProbeResponse" name="gene2ProbeResponse" />
		</operation>
		<operation name="expressionExperimentSetIDs">
			<input message="tns:expressionExperimentSetIDsRequest" name="expressionExperimentSetIDsRequest" />
			<output message="tns:expressionExperimentSetIDsResponse" name="expressionExperimentSetIDsResponse" />
		</operation>
		<operation name="dEDVRank">
			<input message="tns:dEDVRankRequest" name="dEDVRankRequest" />
			<output message="tns:dEDVRankResponse" name="dEDVRankResponse" />
		</operation>
		<operation name="geneByNCBIId">
			<input message="tns:geneByNCBIIdRequest" name="geneByNCBIIdRequest" />
			<output message="tns:geneByNCBIIdResponse" name="geneByNCBIIdResponse" />
		</operation>
		<operation name="geneDetailsByGeneID">
			<input message="tns:geneDetailsByGeneIDRequest" name="geneDetailsByGeneIDRequest" />
			<output message="tns:geneDetailsByGeneIDResponse" name="geneDetailsByGeneIDResponse" />
		</operation>
		<operation name="differentialExpressionProbeResult">
			<input message="tns:differentialExpressionProbeResultRequest" name="differentialExpressionProbeResultRequest" />
			<output message="tns:differentialExpressionProbeResultResponse" name="differentialExpressionProbeResultResponse" />
		</operation>
		<operation name="gene2GOdescription">
			<input message="tns:gene2GOdescriptionRequest" name="gene2GOdescriptionRequest" />
			<output message="tns:gene2GOdescriptionResponse" name="gene2GOdescriptionResponse" />
		</operation>
		<operation name="geneCoexpressionSearch">
			<input message="tns:geneCoexpressionSearchRequestMsg" />
			<output message="tns:geneCoexpressionSearchResponseMsg" />
		</operation>

	</portType>

	<binding name="gemmaBinding" type="tns:gemma">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="experimentIDbyTaxon">
			<soap:operation soapAction="" />
			<input name="experimentIDbyTaxonRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentIDbyTaxonResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="dEDVfromEEIDGeneID">
			<soap:operation soapAction="" />
			<input name="dEDVfromEEIDGeneIDRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="dEDVfromEEIDGeneIDResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="arrayDesignUsed">
			<soap:operation soapAction="" />
			<input name="arrayDesignUsedRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="arrayDesignUsedResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="experimentId">
			<soap:operation soapAction="" />
			<input name="experimentIdRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentIdResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="arrayDesignIdentifierByName">
			<soap:operation soapAction="" />
			<input name="arrayDesignIdentifierByNameRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="arrayDesignIdentifierByNameResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="experimentDEDV">
			<soap:operation soapAction="" />
			<input name="experimentDEDVRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentDEDVResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneIDbyTaxon">
			<soap:operation soapAction="" />
			<input name="geneIDbyTaxonRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneIDbyTaxonResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="experimentName">
			<soap:operation soapAction="" />
			<input name="experimentNameRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentNameResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneId">
			<soap:operation soapAction="" />
			<input name="geneIdRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneIdResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneName">
			<soap:operation soapAction="" />
			<input name="geneNameRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneNameResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="experimentNumSamples">
			<soap:operation soapAction="" />
			<input name="experimentNumSamplesRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentNumSamplesResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="physicalLocation">
			<soap:operation soapAction="" />
			<input name="physicalLocationRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="physicalLocationResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="genesAtPhysicalLocation">
			<soap:operation soapAction="" />
			<input name="genesAtPhysicalLocationRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="genesAtPhysicalLocationResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="goTerm2Gene">
			<soap:operation soapAction="" />
			<input name="goTerm2GeneRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="goTerm2GeneResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="gene2Go">
			<soap:operation soapAction="" />
			<input name="gene2GoRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="gene2GoResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneOverlap">
			<soap:operation soapAction="" />
			<input name="geneOverlapRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneOverlapResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneCoexpression">
			<soap:operation soapAction="" />
			<input name="geneCoexpressionRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneCoexpressionResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="experimentAnnotation">
			<soap:operation soapAction="" />
			<input name="experimentAnnotationRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="experimentAnnotationResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="probe2Gene">
			<soap:operation soapAction="" />
			<input name="probe2GeneRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="probe2GeneResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="gene2Probe">
			<soap:operation soapAction="" />
			<input name="gene2ProbeRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="gene2ProbeResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="expressionExperimentSetIDs">
			<soap:operation soapAction="" />
			<input name="expressionExperimentSetIDsRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="expressionExperimentSetIDsResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="dEDVRank">
			<soap:operation soapAction="" />
			<input name="dEDVRankRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="dEDVRankResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneByNCBIId">
			<soap:operation soapAction="" />
			<input name="geneByNCBIIdRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneByNCBIIdResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="geneDetailsByGeneID">
			<soap:operation soapAction="" />
			<input name="geneDetailsByGeneIDRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="geneDetailsByGeneIDResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="differentialExpressionProbeResult">
			<soap:operation soapAction="" />
			<input name="differentialExpressionProbeResultRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="differentialExpressionProbeResultResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="gene2GOdescription">
			<soap:operation soapAction="" />
			<input name="gene2GOdescriptionRequest">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output name="gene2GOdescriptionResponse">
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>

		<operation name="geneCoexpressionSearch">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="encoded" namespace="http://chibi.ubc.ca/Gemma/ws" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="literal" namespace="http://chibi.ubc.ca/Gemma/ws" />
			</output>
		</operation>

	</binding>


	<service name="gemmaService">
		<port binding="tns:gemmaBinding" name="gemmaPort">


			<!-- <soap:address location="http://137.82.157.182:8080/Gemma/ws"/> -->

			<!-- for production, use http://chibi.ubc.ca/Gemma/ws -->

			<soap:address location="http://chibi.ubc.ca/Gemma/ws" />
			<!-- for local machine <soap:address location="http://137.82.157.72:8080/Gemma/ws"/> -->
		</port>
	</service>
</definitions>